version: '3.0'
services:
  corona-check-bw:
    build:
      dockerfile: Dockerfile
      context: ./corona-check-bw
    container_name: corona-check-bw
    image: corona-check-bw:latest
    ports:
      - "8080:8080"
    environment:
      - CORS_ACCESS_CONTROL_ALLOW_ORIGIN: http://localhost, http://localhost:4200